body {
  color: #000;
  font-family: sans-serif;
  font-size: 14px;
  min-width: 340px;
  line-height: 1.6;
}
.page-signUp {
  height: 100vh;
  background: url('/images/bg.jpg') center/cover no-repeat
}
.form-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.titleSignUp, .form {
  background: rgba(255, 255, 255, 0.8);
}

.form-control:focus {
  box-shadow: none;
}
.form-control:focus:required:invalid {
  border: 1px solid red;
}
.form-control:required:valid { 
  border: 1px solid #ccc; 
}